@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    background-color: #84E1AD;
}

header{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px 15px 5px 5px;
    background-image: linear-gradient(360deg,#195A36, #3AD07E);
    text-align: center;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.397);
}

header > p{
    padding-bottom: 20px;
    font-size: 1.6em;
}
h1{
   font-size: 3em; 
}

nav{
    text-align: left;
}

nav > a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    margin-left: 19px;
}

nav > a:hover{
    text-decoration: underline;
    font-size: 25px;
    color: rgb(1, 39, 1);
}

main{
    min-width: 300px;
    max-width: 800px;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.397);
}

main p{
    font-size: 1.4em;
    text-align: justify;
    text-indent: 15px;
}

main > h2{
    color: #1D5D3B;
    font-family: 'idroid';
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    font-size: 1.9em;
}

main > h3{
    color: #1D5D3B;
    font-family: 'idroid';
    font-size: 1.8em;
    padding: 10px;
    text-align: left;
    background-image: linear-gradient(90deg, #BCE4CF, #bce4cf00);
}

aside{
    padding: 0px ;
    text-align: justify;
    border-radius:15px;
    border-radius: (0px, 15px, 15px, 0px);
    background-color: #C5EBD6;
}

aside > h4{
    margin: 0px;
    color: white;
    text-align: left;
    border-radius:15px 15px 0px 0px;
    padding: 15px;
    font-size: 1.6em;
    background-color: #2FA866;
}

aside > p{
    padding-bottom: 20px ;
    margin: 0px 13px;
    font-size: 1.4em;

}

aside > ul{
    font-size: 1.3em;
    list-style-type: '✔️\00A0';
    columns: 2;
    margin-bottom: 35px;
}

footer{
    padding: 18px;
    margin-top: 30px;
    color: white;
    text-align: center;
    background-color: #1A5C38;
}

footer > p{
    margin: 0px;
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

.link{
    text-decoration:none;
    color: #1A5C38;
    font-weight: bold;
}

div.video{
    background-color: #195A36;
    padding: 25px;
    margin: 30px -15px;
    padding-bottom: 55.6%;
    position: relative;
}

div.video > iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}